/**
*
* Main Style Page
* Author : Colm Seale
* Color Palette : http://paletton.com/palette.php?uid=33i0u0kFccSvg88DJ9VBOjtEyqu
*
**/

body {
  font-family:verdana;
  margin: 0px;
  overflow: hidden;
}

.container{
	height:auto;
	overflow: hidden;
}
.menu{
	border-right: 2px solid #d38d00;
	position:absolute;
	top:0px;
	left:0px;
	width:148px;
	bottom:0px;
	padding: 50px;
    background-color: #012727;
}

.menu-header{
	color: #d38d00;
}

.menu-options{
	list-style-type: none;
	-webkit-padding-start: 0px;
}

.menu-options li {
	padding: 10px 10px 10px 0px;
	font-variant: small-caps;
}

.menu-options li a {
	color: #007f7f;
	cursor: pointer;
	text-decoration: none;
}

.menu-options li a:hover {
	color: #9b6700;
}

.menu-options li a.active {
	color: #d38d00;
}

.details {
	position:absolute;
	top:0px;
	left:250px;
	right:0px;
	bottom:0px;
  	background-color: #ffffff;
  	overflow-y:scroll;
}

.contact-me-bar{
	position: absolute;
    top: 15px;
    right: 35px;
    z-index: 100;
    color: black;
    font-variant: small-caps;
}

img {
    border-radius: 50%;
}

section{
	text-align: center;
	vertical-align: middle;
	padding:50px 75px 75px 75px;
	clear: both;
}

section h1{
	color: #410202;
	font-size: 32px;
	font-variant: small-caps;
}

section h4{
	color: #410202;
	font-variant: small-caps;
}

section h1:after {
	content: '';
    display: block;
    background: #410202;
    height: 2px;
    max-width: 125px;
    width: 100%;
    margin: 20 auto;
}

section:nth-child(even){
		background-color: #e3e3ee;

}

section:nth-child(odd){
		background-color: #fff;
}

section p{
	line-height: 30px;
	color: #012727;
}

section ul{
	line-height: 30px;
	color: #012727;
	list-style-type: none;
	padding-bottom: 50px;
}

section li{
	padding-bottom:10px;
}

a {
  color: #00B7FF;
}

section .column {
	display: inline-block;
	width:32%;
	vertical-align:top;
	padding-bottom: 20px;
}

section .column p{
	padding:10px;
}

.experience p, .experience ul{
	text-align: left;
}

.experience ul{
	list-style-type: square;
}
